<%- include ('../partials/header') %>

  <!-- Main Content -->
  <main class="container">
    <h1><%= title %></h1>
    <br>
    <div class="row" >
        <div class="float-start">
            <!-- ------------------------ -->
            <!-- Fix the ADD button below -->
            <!-- ------------------------ -->
            <a href="/todo/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> 
                Add a new Todo
            </a> 
        </div>           
    </div>
    <br>   
    
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <!-- Header Row-->
            <tr>
                <th class="text-center">Task</th>                    
                <th class="text-center">Description</th>
                <th class="text-center">Complete</th>
                <th class="text-center" colspan="3">Actions</th>
            </tr>

            <!-- Repeatable Template Row -->

            <% for(let i = 0; i < TodoList.length; i++) { %>
                <tr>
                    <td class="text-center"><%= TodoList[i].task %></td>
                    <td class="text-center"><%= TodoList[i].description %></td>
                    <td class="text-center"><%= TodoList[i].complete %></td>                        
                    <td class="text-center">
                        <a href="/todo/details/<%= TodoList[i]._id %>" class="btn btn-success btn-sm"> 
                        <i class="fas fa-info"></i> </a>
                    </td>
                    <td class="text-center">
                        <!-- ------------------------- -->
                        <!-- Fix the EDIT button below -->
                        <!-- ------------------------- -->
                        <a href="/todo/edit/<%= TodoList[i]._id %>" class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i></a>
                    </td>
                    <td class="text-center">
                        <!-- --------------------------- -->
                        <!-- Fix the DELETE button below -->
                        <!-- --------------------------- -->
                        <a href="/todo/delete/<%= TodoList[i]._id %>" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>
  </main>
  
<%- include ('../partials/footer') %>